{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

<nav class="navbar navbar-light navbar-hight d-flex justify-content-between" style="background-color: #5a9449;">
    <a class="navbar-brand text-white" href="{{ path('map') }}">
        <span>ComparateurAgricole.com</span>
    </a>
{#    {% if app.user %}#}
{#        <p class="text-light m-0">Bienvenue Mme/Mr <strong>{{ app.user.lastname }}</strong>, vous êtes connecté en tant#}
{#            que#}
{#            <strong>{{ app.user.email }}</strong>#}
{#        </p>#}
{#    {% else %}#}
        <p class="text-light m-0 d-none d-md-block">Bienvenue !</p>
{#    {% endif %}#}
</nav>


<nav class="navbar navbar-light navbar-down d-flex justify-content-between" style="background-color: #346F32;">

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="m-2">
                        <button class="btn btn-link btn-block text-left text-uppercase" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Filtrer par emplacement
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                {{ form_start(formCity) }}
                                <span class="input-group-text text-primary mt-3"
                                      id="basic-addon2">{{ form_widget(formCity) }}</span>
                            </div>
                        </div>
                        <button class="btn-form-city btn btn-primary mb-3">
                            <img class="img-form-city" src="{{ asset('build/images/loupe.svg') }}">
                        </button>
                        {{ form_end(formCity) }}
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3 w-100">
                            <div class="input-group-append">
                                {{ form_start(formDepartment) }}
                                <span class="input-group-text text-primary mt-3" id="basic-addon2">
                                    {{ form_widget(formDepartment) }}
                                </span>
                            </div>
                        </div>
                        <button class="btn-form-city btn btn-primary p-0 my-3">
                            <img class="img-form-city" src="{{ asset('build/images/loupe.svg') }}">
                        </button>
                        {{ form_end(formDepartment) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="m-2">
                    <button class="btn btn-link btn-block text-left text-uppercase" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Filtrer par ressources
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                    {{ form_start(formByProduct) }}
                            <span class="input-group-text text-primary my-3" id="basic-addon2">
                                {{ form_widget(formByProduct) }} </span>
                        </div>
                    </div>
                    <button class="btn-form-city btn btn-primary p-0 align-items-center mb-3">
                        <img class="img-form-city" src="{{ asset('build/images/loupe.svg') }}">
                    </button>
                    {{ form_end(formByProduct) }}
                </div>
            </div>
        </div>
        <div class="my-4 col-lg-12 col-sm-8">
            {% if app.user %}
                <div class="text-white mt-5 mb-5">
                    {{ form_start(formComment) }}
                    <div class="my-3 text-center">
                        {{ form_label(formComment.commentText, 'Votre commentaire') }}
                        {{ form_widget(formComment.commentText) }}
                    </div>
                    <div class="my-3 text-center">
                        {{ form_label(formComment.rate, 'Votre note') }}
                        {{ form_widget(formComment.rate) }}
                    </div>
                    <button class="btn btn-success mt-3 ml-5">
                        {{ 'Enregistrer'|trans }}</button>
                    {{ form_end(formComment) }}
                </div>
            {% endif %}

            <div class="row d-flex justify-content-center">
                {% for comment in comments %}
                    <div class="comment d-flex flex-column m-2 ">
                        <p class="mb-0">De :
                            <strong>{{ comment.author.firstname }} {{ comment.author.lastname }}</strong></p>
                        <p class="mb-0">Note :
                            {% for i in 1..comment.rate %}
                                <img src="{{ asset('build/images/star.svg') }}" class="stars-rate" alt="">
                            {% endfor %}
                        </p>
                        <p class="mb-0">Commentaires : {{ comment.commentText }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="navbar">
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>
        </div>
    </div>

    <div>
        <h1 class="d-none d-md-inline">Les <a href="{{ path('about_us') }}" class="wilders text-danger font-weight-bold text-decoration-none"> wilders</a>
            sont dans le <strong class="pré text-success">pré </strong>!

        </h1>
    </div>

    <div class="m-2">
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="btn btn-outline-success text-white"> Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-outline-success text-white "> Se connecter</a>
        {% endif %}
    </div>


</nav>
